<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game of Throne Episodes</title>
</head>

<body>

  <%- include("../partials/header.ejs", {title: "Breaking Bad Episodes"}) %>


  <form>
    <input type="text" name="searchTerm" placeholder="search here" />
    <button type="submit">Search</button>
  </form>

  <p>Displaying <%= breakingBadEpisodes.length %> Episodes</p>

  <div>
    <% for (let i = 0; i < breakingBadEpisodes.length; i++) { %>
    <div class="episode-container">
      <a href="/tvshows/<%= breakingBadEpisodes[i].id %>">
        <b class="episode-title"><%= breakingBadEpisodes[i].name %></b>
      </a> - <span class="episode-number"><%= 'S' + breakingBadEpisodes[i].season.toString().padStart(2, '0') + 'E' + breakingBadEpisodes[i].number.toString().padStart(2, '0') %></span>
      <br>
      <img id="image" src="<%= breakingBadEpisodes[i].image.medium %>">
      <br>
      <span class="episode-description"><%= breakingBadEpisodes[i].summary.slice(3, breakingBadEpisodes[i].summary.length - 4) %></span>
      <hr />
    </div>
    <% } %>
  </div>




</body>

</html>

<%- include("../partials/footer.ejs") %>